@model ModelProject.CodigoPostal

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    @*<h4>Codigo Postal</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Alterar", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Voltar", "Index")*@
    @Html.ActionLink(" Editar", "Edit", new { id = Model.ID }, new { @class = "fa fa-pencil btn btn-primary" })
    @Html.ActionLink(" Voltar à lista", "Index", null, new { @class = "fa fa-list btn btn-success" })
</p>
