@model ModelProject.CodigoPostal

@{
    ViewBag.Title = "Details";
}

<h2 class="title-page">Detalhes</h2>

<table class="table table-striped table-hover">
    <tr><th colspan="2" class="title-table">@Html.DisplayFor(model => model.Localidade)</th></tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Codigo)</th>
        <th>@Html.DisplayNameFor(model => model.Localidade)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Codigo)</td>
        <td>@Html.DisplayFor(model => model.Localidade)</td>
    </tr>
</table>

<p>
    <a class="btn btn-primary" href="/CodigoPostais/Edit/@Model.ID"><i class="fa fa-pencil"></i> Editar</a>
    <a class="btn btn-success" href="/CodigoPostais"><i class="fa fa-list"></i> Voltar à lista</a>
</p>
