@model ModelProject.Ocorrencias

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Tem certeza que pretende apagar?</h3>
<div>
    @*<h4>Ocorrencias</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anexos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anexos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoOcorrencias.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoOcorrencias.Designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizadores.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizadores.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @*<input type="submit" value="Apagar" class="btn btn-danger" /> |*@
        @*@Html.ActionLink("Voltar", "Index")*@
        <button class="btn btn-danger" type="submit"><i class="fa fa-trash"> Apagar</i></button>
        @Html.ActionLink(" Voltar à lista", "Index", null, new { @class = "fa fa-list btn btn-success" })
    </div>
    }
</div>
