@model ModelProject.Ocorrencias

@{
    ViewBag.Title = "Delete";
}

<h2 class="title-page">Apagar</h2>

<h3 class="subtitle-page">Tem certeza que pretende apagar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.Anexos)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.Anexos)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.TipoOcorrencias.Designacao)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.TipoOcorrencias.Designacao)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.Utilizadores.Nome)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.Utilizadores.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-danger" type="submit"><i class="fa fa-trash"> Apagar</i></button>
        <a class="btn btn-success" href="/Ocorrencias"><i class="fa fa-list"></i> Voltar à lista</a>
    </div>
    }
</div>
