@model ModelProject.Ocorrencias

@{
    ViewBag.Title = "Details";
}

<h2 class="title-page">Detalhes</h2>

<table class="table table-striped table-hover">
    <tr><th colspan="4" class="title-table">@Html.DisplayFor(model => model.TipoOcorrencias.Designacao)</th></tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
        <th>@Html.DisplayNameFor(model => model.Anexos)</th>
        <th>@Html.DisplayNameFor(model => model.TipoOcorrencias.Designacao)</th>
        <th>@Html.DisplayNameFor(model => model.Utilizadores.Nome)</th>
    </tr>
    <tr>
        <td class="max-width-description">@Html.DisplayFor(model => model.Descricao)</td>
        <td>@Html.DisplayFor(model => model.Anexos)</td>
        <td>@Html.DisplayFor(model => model.TipoOcorrencias.Designacao)</td>
        <td>@Html.DisplayFor(model => model.Utilizadores.Nome)</td>
    </tr>
</table>

<p>
    <a class="btn btn-primary" href="/Ocorrencias/Edit/@Model.ID"><i class="fa fa-pencil"></i> Editar</a>
    <a class="btn btn-success" href="/Ocorrencias"><i class="fa fa-list"></i> Voltar à lista</a>
</p>
