@model ModelProject.Ocorrencias

@{
    ViewBag.Title = "Edit";
}

<h2 class="title-page">Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.IdUtilizador, "Utilizador", htmlAttributes: new { @class = "control-label col-md-2 table-edit-data" })
            <div class="col-md-10">
                @Html.DropDownList("IdUtilizador", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdUtilizador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdOcorrencias, "Ocorrencias", htmlAttributes: new { @class = "control-label col-md-2 table-edit-data" })
            <div class="col-md-10">
                @Html.DropDownList("IdOcorrencias", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdOcorrencias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2 table-edit-data" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descricao,  htmlAttributes : new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anexos, htmlAttributes: new { @class = "control-label col-md-2 table-edit-data" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Anexos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Anexos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success" type="submit"><i class="fa fa-check"> Atualizar</i></button>
                <a class="btn btn-default" href="/Ocorrencias"><i class="fa fa-list"></i> Voltar à lista</a>
            </div>
        </div>
    </div>
}

    <div>
        @*@Html.ActionLink("Voltar", "Index")*@
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
