@model IEnumerable<ModelProject.Ocorrencias>

@{
    ViewBag.Title = "Ocorrências";
}

<center>
    <a class="btn btn-primary btn-block" href="/Ocorrencias/Create"><i class="fa fa-plus"></i> ADICIONAR NOVA</a>
</center>

<table class="table table-striped table-hover">
    <tr><th colspan="5" class="title-table">Lista de Ocorrências</th></tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anexos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoOcorrencias.Designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizadores.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anexos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOcorrencias.Designacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizadores.Nome)
            </td>
            <td>
                <a class="btn btn-primary" href="/Ocorrencias/Edit/@item.ID"><i class="fa fa-pencil"></i> Editar</a>
                <a class="btn btn-success" href="/Ocorrencias/Details/@item.ID"><i class="fa fa-list"></i> Detalhes</a>
                <a class="btn btn-danger" href="/Ocorrencias/Delete/@item.ID"><i class="fa fa-trash"></i> Apagar</a>
            </td>
        </tr>
    }

</table>
