@model ModelProject.InformacoesUteis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InformacoesUteis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizadores.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizadores.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
