@model ModelProject.InformacoesUteis

@{
    ViewBag.Title = "Details";
}

<h2 class="title-page">Detalhes</h2>

<table class="table table-striped table-hover">
    <tr><th colspan="8" class="title-table">@Html.DisplayFor(model => model.Assunto)</th></tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Assunto)</th>
        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
        <th>@Html.DisplayNameFor(model => model.CodigoPostal.Codigo)</th>
        <th>@Html.DisplayNameFor(model => model.Utilizadores.Nome)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Assunto)</td>
        <td class="max-width-description">@Html.DisplayFor(model => model.Descricao)</td>
        <td>@Html.DisplayFor(model => model.CodigoPostal.Codigo)</td>
        <td>@Html.DisplayFor(model => model.Utilizadores.Nome)</td>
    </tr>
</table>

<p>
    <a class="btn btn-primary" href="/InformacoesUteis/Edit/@Model.ID"><i class="fa fa-pencil"></i> Editar</a>
    <a class="btn btn-success" href="/InformacoesUteis"><i class="fa fa-list"></i> Voltar à lista</a>
</p>