@model IEnumerable<ModelProject.InformacoesUteis>

@{
    ViewBag.Title = "Informações Úteis";
}

<center>
    <a class="btn btn-primary btn-block" href="/InformacoesUteis/Create"><i class="fa fa-plus"></i> ADICIONAR NOVA</a>
</center>

<table class="table table-striped table-hover">
    <tr><th colspan="5" class="title-table">Lista de Informações Úteis</th></tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostal.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizadores.Nome)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Assunto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoPostal.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilizadores.Nome)
                </td>
                <td>
                    <a class="btn btn-primary" href="/InformacoesUteis/Edit/@item.ID"><i class="fa fa-pencil"></i> Editar</a>
                    <a class="btn btn-success" href="/InformacoesUteis/Details/@item.ID"><i class="fa fa-list"></i> Detalhes</a>
                    <a class="btn btn-danger" href="/InformacoesUteis/Delete/@item.ID"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="5" class="title-table">Sem dados!</td></tr>
    }


</table>
