@using Microsoft.AspNet.Identity
@model ModelProject.Utilizadores
@using ModelProject;

@{
    ViewBag.Title = "Painel de Gestão";
}

@* Se estiver autenticado e a informação estiver em falta
    @Html.ActionLink("Detalhes", "Details", "Alunos", new { id = item.Aluno.numeroAluno }, new { })
*@
@if (Request.IsAuthenticated)
{
    // Utilizador logado
    var CurrentUserId = User.Identity.GetUserId();

    ProjectDBEntities db = new ProjectDBEntities();

    // Se o utilizador atual existe na BD
    var userCurrent = from u in db.Utilizadores
                      where u.UserID == CurrentUserId
                      select u;

    // Caso não tenho efetuado o 2º registo
    if (userCurrent.Count() == 0)
    {
        <div class="jumbotron">
            <h1>Atenção @User.Identity.GetUserName()!</h1>
            <p class="lead text-danger"> Registo incompleto!</p>
            @Html.ActionLink("Editar", "Create", "Utilizadores", new { }, new { })
        </div>
    }

    foreach (var user in userCurrent)
    {
        if (@user.Estado == 0) // Caso tenha efeutado o 2º registo mas não está ativo
        {
            <div class="jumbotron">
                <h1>Atenção @User.Identity.GetUserName()!</h1>
                <p class="lead"> Aguardar validação do registo. Obrigado!</p>
            </div>
        }
        else
        {
            @* Tipo !admin mostrar ações *@
            if (@user.TipoUtilizador.Tipo != "Administrador")
            {
                <div class="row">
                    <h1>Tipo: @user.TipoUtilizador.Tipo</h1>
                    <div class="col-md-6">
                        <h2>Adicionar ocorrência</h2>
                        <ul>
                            <li>Pedir esclarecimentos sobre um determinado processo em aberto na Junta de Freguesia</li>
                            <li>Solicitar o agendamento de reunião com o Presidente da Junta de Freguesia</li>
                            <li>Reportar problemas na freguesia (exemplo: estradas, jardins, edifícios)</li>
                            <li>Enviar sugestões</li>
                        </ul>
                        @Html.ActionLink("Adicionar", "Create", "Ocorrencias", new { }, new { @class = "btn btn-success" })
                    </div>
                    <div class="col-md-6">
                        <h2>Informações úteis</h2>
                        <p>Últimas notificações.</p>
                        @* Passar id do utilizador ou id da junta *@
                        @Html.ActionLink("Ver", "Index", "Ocorrencias", new { }, new { @class = "btn btn-success" })
                    </div>
                </div>
            }
            else // Tipo admin mostrar lista de utilizadores para aceitar
            {
                <div class="row">
                    <h1>Administrador</h1>
                    <div class="col-md-6">
                        <h2>Lista de Utilizadores</h2>
                        <p>Estado e tipo de utilizadores</p>
                        <a class="btn btn-primary" href="/Utilizadores"><i class="fa fa-users"></i> Listar</a>
                    </div>
                    <div class="col-md-6">
                        <h2>Informações úteis</h2>
                        <p>Últimas notificações.</p>
                        @* Passar id do utilizador ou id da junta *@
                        <a class="btn btn-primary" href="/InformacoesUteis"><i class="fa fa-list"></i> Listar</a>
                    </div>
                </div>
            }
        }
    }
}

