@using Microsoft.AspNet.Identity
@model ModelProject.Utilizadores
@using ModelProject;

@{
    ViewBag.Title = "Painel de Gestão";
}

@if (Request.IsAuthenticated)
{
    // Utilizador logado
    var CurrentUserId = User.Identity.GetUserId();

    ProjectDBEntities db = new ProjectDBEntities();

    // Se o utilizador atual existe na BD
    var userCurrent = from u in db.Utilizadores
                      where u.UserID == CurrentUserId
                      select u;

    // Caso não tenho efetuado o 2º registo
    if (userCurrent.Count() == 0)
    {
        <div class="jumbotron">
            <h1>Atenção @User.Identity.GetUserName()!</h1>
            <p class="lead text-danger"> Registo incompleto!</p>
            @Html.ActionLink("Editar", "Create", "Utilizadores", new { }, new { })
        </div>
    }

    foreach (var user in userCurrent)
    {
        if (@user.Estado == 0) // Caso tenha efeutado o 2º registo mas não está ativo
        {
            <div class="jumbotron">
                <h1>Atenção @User.Identity.GetUserName()!</h1>
                <p class="lead"> Aguardar validação do registo. Obrigado!</p>
            </div>
        }
        else
        {
            @* Tipo !admin mostrar ações *@
            if (@user.TipoUtilizador.Tipo != "Administrador")
            {
                <div class="row">
                    <h1 class="title-page">Tipo: @user.TipoUtilizador.Tipo</h1>
                    <hr class="bar-div" />
                    <div class="col-md-6 div-home-page">
                        <h2>Adicionar ocorrência</h2>
                        <a class="btn btn-primary btn-home-page" href="/Ocorrencias/Create"><i class="fa fa-plus"></i> Adicionar</a>
                    </div>
                    <div class="col-md-6">
                        <h2>Informações úteis</h2>
                        <p>Últimas notificações.</p>
                        @* Passar id do utilizador ou id da junta *@
                        <a class="btn btn-primary btn-home-page" href="/Ocorrencias"><i class="fa fa-list"></i> Listar</a>
                    </div>
                </div>
            }
            else // Tipo admin mostrar lista de utilizadores para aceitar
            {
                <div class="row">
                    <h1 class="title-page">Administrador</h1>
                    <hr class="bar-div" />
                    <div class="col-md-6 div-home-page">
                        <h2 class="subtitle-page">Lista de Utilizadores</h2>
                        <p>Estado e tipo de utilizadores</p>
                        <a class="btn btn-primary btn-home-page" href="/Utilizadores"><i class="fa fa-users"></i> Listar</a>
                    </div>
                    <div class="col-md-6">
                        <h2 class="subtitle-page">Informações úteis</h2>
                        <p>Últimas notificações.</p>
                        @* Passar id do utilizador ou id da junta *@
                        <a class="btn btn-primary btn-home-page" href="/InformacoesUteis"><i class="fa fa-list"></i> Listar</a>
                    </div>
                </div>
            }
        }
    }
}

