@model ModelProject.Utilizadores

@{
    ViewBag.Title = "Delete";
}

<h2 class="title-page">Apagar</h2>

<h3 class="subtitle-page">Tem certeza que pretende apagar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.NumCC)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.NumCC)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.NumEleitor)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.NumEleitor)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.NomeUtilizador)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.NomeUtilizador)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.CodigoPostal.Codigo)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.CodigoPostal.Codigo)
        </dd>

        <dt class="table-edit-data">
            @Html.DisplayNameFor(model => model.TipoUtilizador.Tipo)
        </dt>

        <dd class="form-control-static">
            @Html.DisplayFor(model => model.TipoUtilizador.Tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Apagar</button>
        <a class="btn btn-success" href="/Utilizadores"><i class="fa fa-list"></i> Voltar à lista</a>
    </div>
    }
</div>
