@model ModelProject.Utilizadores

@{
    ViewBag.Title = "Detalhes";
}

<h2 class="title-page">Detalhes utilizador:</h2>

<table class="table table-striped table-hover">
    <tr><th colspan="8" class="title-table">@Html.DisplayFor(model => model.Nome)</th></tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Estado)</th>
        <th>@Html.DisplayNameFor(model => model.TipoUtilizador.Tipo)</th>
        <th>@Html.DisplayNameFor(model => model.NumCC)</th>
        <th>@Html.DisplayNameFor(model => model.NumEleitor)</th>
        <th>@Html.DisplayNameFor(model => model.Morada)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.NomeUtilizador)</th>
        <th>@Html.DisplayNameFor(model => model.CodigoPostal.Codigo)</th>
    </tr>
    <tr>
        <td class="text-most-important">@Html.DisplayFor(model => model.Estado)</td>
        <td class="text-most-important">@Html.DisplayFor(model => model.TipoUtilizador.Tipo)</td>
        <td>@Html.DisplayFor(model => model.NumCC)</td>
        <td>@Html.DisplayFor(model => model.NumEleitor)</td>
        <td>@Html.DisplayFor(model => model.Morada)</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
        <td>@Html.DisplayFor(model => model.NomeUtilizador)</td>
        <td>@Html.DisplayFor(model => model.CodigoPostal.Codigo)</td>
    </tr>
</table>
<p>
    <a class="btn btn-primary" href="/Utilizadores/Edit/@Model.ID"><i class="fa fa-pencil"></i> Editar</a>
    <a class="btn btn-success" href="/Utilizadores"><i class="fa fa-list"></i> Voltar à lista</a>
</p>
