@model IEnumerable<ModelProject.Utilizadores>

@{
    ViewBag.Title = "Lista de Utilzadores";
}

<h2>Lista de Utilizadores</h2>

<table class="table table-striped">
    <tr class="table-success">
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostal.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUtilizador.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPostal.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUtilizador.Tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
