@model IEnumerable<ModelProject.Utilizadores>

@{
    ViewBag.Title = "Lista de Utilzadores";
}

<table class="table table-striped table-hover">
    <tr><th colspan="6" class="title-table">Lista de Utilizadores</th></tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostal.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUtilizador.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPostal.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUtilizador.Tipo)
        </td>
        <td>
            <a class="btn btn-primary" href="/Utilizadores/Edit/@item.ID"><i class="fa fa-pencil"></i> Editar</a>
            <a class="btn btn-success" href="/Utilizadores/Details/@item.ID"><i class="fa fa-list"></i> Detalhes</a>
            <a class="btn btn-danger" href="/Utilizadores/Delete/@item.ID"><i class="fa fa-trash"></i> Apagar</a>
        </td>
    </tr>
}

</table>
